<%- include("partials/header"); -%>
    <div class="container">
        <div class="post-div mt-3">
            <h1>Contact</h1>
            <p>
                Contact email address is <a style="font-size: 20px;color: #3DB2FF;text-decoration: none;font-weight: 600;" href="mailto:ggyanam869@gmail.com">support@dailyjournal.com</a></p>
        </div>
    </div>
    <%- include("partials/footer"); -%>