<%- include("partials/header") -%>
    <center>
        <h1>NEWS</h1>
        <hr>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Advertisement!</strong> <span style="font-size: 18px;font-weight: 500;" class="text-capitalize"> Use our provido conference webapp <a href="https://provido-meetings-by-gyanam.herokuapp.com/" target="_blank" class="btn btn-outline-primary">Visit Site</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <a href="/compose" class="btn btn-outline-primary">COMPOSE A POST</a>
    </center>

    <%- include("partials/footer") -%>