<%- include("partials/header") -%>
    <center>
        <div class="container">
            <div class="post-div mt-3">
                <h3>NEWS</h3>
                <a href="/compose" class="btn btn-outline-primary">COMPOSE A POST</a>
            </div>
        </div>
    </center>

    <%- include("partials/footer") -%>