<%- include("partials/header") -%>
    <center>
        <div class="coming-soon-div">
            <h3 class="text-primary">Register now for event</h3>

        </div>
    </center>
    <%- include("partials/footer") -%>