/* css */

.card {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.video-element {
    width: 100%;
    height: 200px;
    border: 1px solid grey;
    border-radius: 5px;
}

.imp {
    padding: 10px;
}

.view {
    color: rgb(56, 56, 56);
    border-radius: 30px;
    padding: 10px;
    border: 1px solid rgb(56, 56, 56);
    text-decoration: none;
    float: right;
    font-weight: 600;
    background-color: #ffffffff;
}

.view:hover {
    color: rgb(56, 56, 56);
}

.view-profile {
    color: rgb(56, 56, 56);
    background-color: #ffffffff;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid rgb(56, 56, 56);
    text-decoration: none;
    float: left;
    font-weight: 600;
}

.view-profile:hover {
    color: rgb(56, 56, 56);
}