@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
.banner__image {
    width: 100%;
    height: 400px;
    padding: 5px;
    border: 5px solid #fff;
    margin-top: 10px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.profile__image {
    width: 250px;
    height: 250px;
    cursor: pointer;
    border: 5px solid #fff;
    margin-top: -150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 1px 1px 38px rgb(0, 132, 255);
    }
    to {
        box-shadow: 1px 1px 38px rgb(0, 255, 0);
    }
}

.banner__image h3 {
    cursor: default;
}

.description__div {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.description__div h2 {
    text-align: left;
    font-weight: 700;
}

.description__div h3 {
    text-align: left;
}

.link-navigate {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    text-transform: lowercase;
}

.about-p {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.card a {
    font-size: 18px;
    font-weight: 600;
}

.card-img-top {
    background-size: cover;
    background-position: center;
}

.share-div {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.share-div:hover {
    padding: 10px;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    background-color: rgb(230, 230, 230);
}

#myInput {
    display: none;
}

.alert-white {
    display: none;
    width: fit-content;
    background-color: white;
    font-weight: 600;
    font-size: 20px;
}


/* 
  You want a simple and fancy tooltip?
  Just copy all [data-tooltip] blocks:
*/

[data-tooltip] {
    position: relative;
    z-index: 10;
}


/* Positioning and visibility settings of the tooltip */

[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + 5px);
    /* 5px is the size of the arrow */
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}


/* The actual tooltip with a dynamic width */

[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 10px 18px;
    min-width: 50px;
    max-width: 300px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-size: 14px;
    background-color: #ffffff;
    background-image: #ffffff;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    color: rgba(106, 111, 114, 0.9)f;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, -5px) scale(0.5);
}


/* Tooltip arrow */

[data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    /* CSS triangle */
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
    transition-duration: 0s;
    /* If the mouse leaves the element, 
                                the transition effects for the 
                                tooltip arrow are "turned off" */
    transform-origin: top;
    /* Orientation setting for the
                                slide-down effect */
    transform: translateX(-50%) scaleY(0);
}


/* Tooltip becomes visible at hover */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}


/* Scales from 0.5 to 1 -> grow effect */

[data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, -5px) scale(1);
}


/* 
    Arrow slide down effect only on mouseenter (NOT on mouseleave)
  */

[data-tooltip]:hover:after {
    transition-delay: 0.5s;
    /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}


/*
    That's it.
  */


/*
    If you want some adjustability
    here are some orientation settings you can use:
  */


/* LEFT */


/* Tooltip + arrow */

[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
    left: auto;
    right: calc(100% + 5px);
    bottom: 50%;
}


/* Tooltip */

[data-tooltip-location="left"]:before {
    transform: translate(-5px, 50%) scale(0.5);
}

[data-tooltip-location="left"]:hover:before {
    transform: translate(-5px, 50%) scale(1);
}


/* Arrow */

[data-tooltip-location="left"]:after {
    border-width: 5px 0px 5px 5px;
    border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
    transform-origin: left;
    transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="left"]:hover:after {
    transform: translateY(50%) scaleX(1);
}


/* RIGHT */

[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
    left: calc(100% + 5px);
    bottom: 50%;
}

[data-tooltip-location="right"]:before {
    transform: translate(5px, 50%) scale(0.5);
}

[data-tooltip-location="right"]:hover:before {
    transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
    border-width: 5px 5px 5px 0px;
    border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
    transform-origin: right;
    transform: translateY(50%) scaleX(0);
}

[data-tooltip-location="right"]:hover:after {
    transform: translateY(50%) scaleX(1);
}


/* BOTTOM */

[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
    top: calc(100% + 5px);
    bottom: auto;
}

[data-tooltip-location="bottom"]:before {
    transform: translate(-50%, 5px) scale(0.5);
}

[data-tooltip-location="bottom"]:hover:before {
    transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after {
    border-width: 0px 5px 5px 5px;
    border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
    transform-origin: bottom;
}

#your-elements-id {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Festive', cursive;
}

.username {
    text-align: left;
}