.banner__image {
    width: 100%;
    height: 400px;
    padding: 5px;
    border: 5px solid #fff;
    margin-top: 10px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.profile__image {
    width: 250px;
    height: 250px;
    border: 5px solid #fff;
    margin-top: -150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 1px 1px 38px rgb(0, 132, 255);
    }
    to {
        box-shadow: 1px 1px 38px yellow;
    }
}

.description__div {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.description__div h2 {
    text-align: left;
    font-weight: 700;
}

.description__div h3 {
    text-align: left;
}

.link-navigate {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    text-transform: lowercase;
}

.about-p {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

.card a {
    font-size: 18px;
    font-weight: 600;
}

.card-img-top {
    background-size: cover;
    background-position: center;
}

.share-div {
    margin: 10px;
    cursor: pointer;
}